[submodule "amundsendatabuilder"]
	path = amundsendatabuilder
	url = git@github.com:kylg/amundsendatabuilder.git
	branch = master
[submodule "amundsenfrontendlibrary"]
	path = amundsenfrontendlibrary
	url = git@github.com:kylg/amundsenfrontendlibrary.git
	branch = master
[submodule "amundsenmetadatalibrary"]
	path = amundsenmetadatalibrary
	url = git@github.com:kylg/amundsenmetadatalibrary.git
	branch = master
[submodule "amundsensearchlibrary"]
	path = amundsensearchlibrary
	url = git@github.com:kylg/amundsensearchlibrary.git
	branch = master
[submodule "amundsencommon"]
	path = amundsencommon
	url = git@github.com:kylg/amundsencommon.git
