[submodule "amundsendatabuilder"]
	path = amundsendatabuilder
	url = https://github.com/kylg/amundsendatabuilder
	branch = master
[submodule "amundsenfrontendlibrary"]
	path = amundsenfrontendlibrary
	url = https://github.com/kylg/amundsenfrontendlibrary
	branch = master
[submodule "amundsenmetadatalibrary"]
	path = amundsenmetadatalibrary
	url = https://github.com/kylg/amundsenmetadatalibrary
	branch = master
[submodule "amundsensearchlibrary"]
	path = amundsensearchlibrary
	url = https://github.com/kylg/amundsensearchlibrary
	branch = master
[submodule "amundsencommon"]
	path = amundsencommon
	url = https://github.com/kylg/amundsencommon
